<footer class="bg-dark text-white py-3 border-top d-flex" style="min-height: 17vh">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <img src="{{ asset('images/logo/logo.png') }}" alt="Logo" style="height: 40px;">
            <div class="ml-2">
                <p class="mb-0" style="font-size: 14px;">Phone: 05 55 00 00 05</p>
                <p class="mb-0" style="font-size: 14px;">Email: <a href="mailto:shoping@shoping.ma" class="text-white">shoping@shoping.ma</a></p>
            </div>
        </div>
        <div>
            <p class="mb-0" style="font-size: 12px;">&copy; 2024 Shoping. All rights reserved.</p>
        </div>
    </div>
</footer>
