{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Categories{% endblock %}

{% block body %}
    <div class="container">
        <h1>Categories</h1>
        <div class="row">
            {% for category in categories %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ category.name }}</h5>
                            <p class="card-text">{{ category.description }}</p>
                            <a href="{{ path('user.category.show', { 'id': category.id }) }}" class="btn btn-primary">View Products</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
